In [3]:
import requests as rq
import pandas as pd
# !pip install nba_api
import nba_api
from nba_api.stats.endpoints import playercareerstats
import time

In [4]:
pd.set_option('display.max_columns', None)

In [302]:
season_list = ["1971-72","1970-71","1969-70","1968-69","1967-68","1966-67","1965-66","1964-65","1963-64","1962-63","1961-62","1960-61","1959-60","1958-59","1957-58","1956-57","1955-56","1954-55","1953-54","1952-53","1951-52","1950-51","1949-50","1948-49","1947-48","1946-47"]
# next
#

In [303]:
headers  = {
    'Connection': 'keep-alive',
    'Accept': 'application/json, text/plain, */*',
    'x-nba-stats-token': 'true',
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36',
    'x-nba-stats-origin': 'stats',
    'Sec-Fetch-Site': 'same-origin',
    'Sec-Fetch-Mode': 'cors',
    'Referer': 'https://stats.nba.com/',
    'Accept-Encoding': 'gzip, deflate, br',
    'Accept-Language': 'en-US,en;q=0.9',
}

In [304]:
nba_dfs = []
for season in season_list:
  season_id = season[0:4]
  url = "https://stats.nba.com/stats/leagueLeaders?LeagueID=00&PerMode=PerGame&Scope=Rookies&Season="+season+"&SeasonType=Regular%20Season&StatCategory=PTS"
  res = rq.get(url = url, headers = headers).json()
  columns = res['resultSet']['headers']
  data = res['resultSet']['rowSet']
  nba_df = pd.DataFrame(data, columns = columns)
  nba_df['season'] = season_id
  print(season, ": ", nba_df.shape)
  nba_dfs.append(nba_df)

1971-72 :  (33, 26)
1970-71 :  (38, 26)
1969-70 :  (26, 26)
1968-69 :  (25, 26)
1967-68 :  (26, 26)
1966-67 :  (20, 26)
1965-66 :  (15, 26)
1964-65 :  (20, 26)
1963-64 :  (13, 26)
1962-63 :  (22, 26)
1961-62 :  (25, 26)
1960-61 :  (18, 26)
1959-60 :  (12, 26)
1958-59 :  (21, 26)
1957-58 :  (11, 26)
1956-57 :  (16, 26)
1955-56 :  (22, 26)
1954-55 :  (15, 26)
1953-54 :  (17, 26)
1952-53 :  (15, 26)
1951-52 :  (19, 26)
1950-51 :  (0, 26)
1949-50 :  (0, 26)
1948-49 :  (0, 26)
1947-48 :  (0, 26)
1946-47 :  (0, 26)

In [305]:
nba_concat_df = pd.concat(nba_dfs)
display(nba_concat_df.head())
print(nba_concat_df.shape)

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PTS,EFF,season
0,78520,1,Sidney Wicks,1610612757,POR,82,39.6,9.6,22.4,0.427,None,None,None,5.4,7.6,0.710,None,None,11.5,4.3,None,None,None,24.5,25.2,1971
1,76348,2,Austin Carr,1610612739,CLE,43,35.8,8.9,20.8,0.426,None,None,None,3.5,4.6,0.760,None,None,3.5,3.4,None,None,None,21.2,15.1,1971
2,78188,3,Elmore Smith,1610612746,BUF,78,40.8,7.4,16.3,0.454,None,None,None,2.5,4.7,0.534,None,None,15.2,1.4,None,None,None,17.3,22.8,1971
3,78200,4,Randy Smith,1610612746,BUF,76,27.6,5.7,11.8,0.482,None,None,None,2.1,3.3,0.622,None,None,4.8,2.5,None,None,None,13.4,13.4,1971
4,76386,5,Phil Chenier,1610612764,BLT,81,30.6,5.0,12.1,0.415,None,None,None,2.2,3.0,0.737,None,None,3.3,2.5,None,None,None,12.3,10.2,1971

(429, 26)

In [306]:
nba_df_final = nba_concat_df[['PLAYER_ID','PLAYER', 'GP', 'MIN', 'PTS', 'FGM', 'FGA', 'FG3M', 'FG3A', 'FTM', 'FTA','OREB', 'DREB', 'AST', 'STL', 'BLK','TOV', 'season']]

In [307]:
nba_df_final.head()

,PLAYER_ID,PLAYER,GP,MIN,PTS,FGM,FGA,FG3M,FG3A,FTM,FTA,OREB,DREB,AST,STL,BLK,TOV,season
0,78520,Sidney Wicks,82,39.6,24.5,9.6,22.4,None,None,5.4,7.6,None,None,4.3,None,None,None,1971
1,76348,Austin Carr,43,35.8,21.2,8.9,20.8,None,None,3.5,4.6,None,None,3.4,None,None,None,1971
2,78188,Elmore Smith,78,40.8,17.3,7.4,16.3,None,None,2.5,4.7,None,None,1.4,None,None,None,1971
3,78200,Randy Smith,76,27.6,13.4,5.7,11.8,None,None,2.1,3.3,None,None,2.5,None,None,None,1971
4,76386,Phil Chenier,81,30.6,12.3,5.0,12.1,None,None,2.2,3.0,None,None,2.5,None,None,None,1971

In [308]:
new_cols = ['id','name','games_played','minutes_played','points_scored','goals_scored','goals_attempted','3_point_scored','3_point_attempted','free_throws_scored','free_throws_attempted','offensive_rebounds','defensive_rebounds','assists','steals','blocks','turnover', 'season']
nba_df_final.columns = new_cols
nba_df_final['5Yrs'] = -1
nba_df_final.head()

<ipython-input-308-71ecb59033f7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nba_df_final['5Yrs'] = -1

,id,name,games_played,minutes_played,points_scored,goals_scored,goals_attempted,3_point_scored,3_point_attempted,free_throws_scored,free_throws_attempted,offensive_rebounds,defensive_rebounds,assists,steals,blocks,turnover,season,5Yrs
0,78520,Sidney Wicks,82,39.6,24.5,9.6,22.4,None,None,5.4,7.6,None,None,4.3,None,None,None,1971,-1
1,76348,Austin Carr,43,35.8,21.2,8.9,20.8,None,None,3.5,4.6,None,None,3.4,None,None,None,1971,-1
2,78188,Elmore Smith,78,40.8,17.3,7.4,16.3,None,None,2.5,4.7,None,None,1.4,None,None,None,1971,-1
3,78200,Randy Smith,76,27.6,13.4,5.7,11.8,None,None,2.1,3.3,None,None,2.5,None,None,None,1971,-1
4,76386,Phil Chenier,81,30.6,12.3,5.0,12.1,None,None,2.2,3.0,None,None,2.5,None,None,None,1971,-1

In [309]:
nba_df_final.shape

(429, 19)

In [310]:
def extract_sea(sea_str):
  return int(sea_str[0:4])

def update_target(i):
  career = playercareerstats.PlayerCareerStats(player_id=i) 
  frames = career.get_data_frames()[0]
  frames['sea'] = frames['SEASON_ID'].apply(extract_sea)
  sea_max = max(frames['sea'])
  print(i)
  player_draft_season = int(nba_df_final[nba_df_final['id'] == i]['season'])
  if sea_max >= player_draft_season+5:
    nba_df_final.loc[nba_df_final['id'] == i, '5Yrs'] = 1
  else:
    nba_df_final.loc[nba_df_final['id'] == i, '5Yrs'] = 0

In [311]:
for i in nba_df_final[nba_df_final['5Yrs'] == -1]['id'][0:429]:
  update_target(i)

78520
76348
78188
78200
76386
78561
77029
78028
77580
77570
76519
77350
78606
77413
78631
77710
77733
77917
78366
77875
78245
77578
77534
76923
76807
78580
77812
77540
77466
77965
76402
76029
76118
77844
77459
76462
77152
76054
77669
600005
77326
76012
77080
78220
77554
76477
78469
76078
78460
76985
78298
76064
77091
76603
78350
76440
77288
76419
77066
76731
78397
77591
78189
76395
76715
78152
78508
78648
78641
77884
78321
76003
76972
76500
78510
76531
76788
76027
78406
77973
78540
78432
77505
77894
76815
78202
77878
76130
77316
78592
76356
600011
77747
76048
77427
76865
78461
76979
78392
76956
76883
76192
78190
77227
78567
77338
77636
77013
76015
77244
77712
76485
77489
78568
76922
76740
77768
77840
77061
76759
77966
76915
600006
78042
78372
76750
76965
78439
78539
76233
77962
77106
77195
76576
77385
77187
78385
77543
77454
76843
78501
76525
77369
76926
77410
76859
77342
77811
76166
77074
77658
78045
76397
77463
77988
76376
77357
77412
78213
78495
77576
76106
76018
76661
77161
76908
77676
77259
600013
76487
78238
78398
78399
78268
76832
76302
77928
77012
78466
78173
76403
77533
76680
77929
76105
77103
77297
76329
77548
76201
76916
77198
76289
77662
76458
78151
77299
76983
78328
77307
76227
77687
78579
77418
77150
77015
78335
76945
600001
77295
77596
77026
77051
77270
76063
78309
76577
76970
76545
78435
76108
76946
76133
78409
76382
76464
77038
77023
77531
76663
77700
77411
77737
78037
78285
76610
78526
77765
76144
78121
76319
78100
77584
78160
78178
78438
76295
77706
76293
77025
76647
77339
78382
77855
77479
76182
76318
77899
77727
77421
78522
78630
78640
600015
78497
77751
77359
78530
76206
77639
76070
76297
77562
77327
77202
76532
78060
76919
77977
77093
77172
76375
77070
77340
76107
76977
76867
76712
78040
77954
76034
76020
76900
76127
76668
76882
78003
77792
76191
76546
77131
77555
76694
76658
76969
78013
77927
76566
78283
76929
78244
77802
76324
77188
78064
78223
77311
78529
78391
77082
77196
78018
76758
76605
77500
76988
78049
77371
77693
76902
77862
76160
77049
78216
77506
77818
76313
77052
76912
78371
78312
600016
78388
78106
76723
76828
78249
77722
77955
77409
76429
76708
76561
77932
76611
76989
76783
76062
77579
78072
77799
76998
76958
77847
78113
77907
77248
77467
78020
76555
78232
76693
77219
77791
77648
78380
78142
76434
76704
78278
76800
78628
77062
78010
77414
76145
76939
77247
76536
77695
76760
78212
77422
76114
78284
76717
77573
77599
76081
76999
77551
77619
77482
77947
78616
78639
77045
77868
77397
76428
76102
77268
78359
77089
77743
77610
77775
78169
77169
78125
78586
77032
77536
76705
77824
76565
77256
77912
77902

In [313]:
print("Total not updated Shape: ", nba_df_final[nba_df_final['5Yrs'] == -1].shape)

print("0 shape: ",nba_df_final[nba_df_final['5Yrs'] == 0].shape)

print("1 shape: ",nba_df_final[nba_df_final['5Yrs'] == 1].shape)

Total not updated Shape:  (0, 19)
0 shape:  (218, 19)
1 shape:  (211, 19)

In [314]:
nba_df_final.to_csv("extra_scraped_data-1971-1947.csv")

In [73]:
og_df = pd.read_csv('nba_data.csv')
s_last_df = pd.read_csv('extra_scraped_data-1971-1947.csv')
s1_df = pd.read_csv('extra_scraped_data.csv')
s2_df = pd.read_csv('extra_scraped_data-2012-2004.csv')
s3_df = pd.read_csv('extra_scraped_data-2002-1994.csv')
s4_df = pd.read_csv('extra_scraped_data-1992-1988.csv')
s5_df = pd.read_csv('extra_scraped_data-1982-1973.csv')


# Experiment
nba_data_merged_1 = pd.merge(s5_df, s_last_df, how = 'outer')
nba_data_merged_2 = pd.merge(s3_df, s4_df, how = 'outer')
nba_data_merged_3 = pd.merge(s1_df, s2_df, how = 'outer')

nba_data_merged_4 = pd.merge(nba_data_merged_2, nba_data_merged_1, how = 'outer')
nba_data_merged_5 = pd.merge(nba_data_merged_3, nba_data_merged_4, how = 'outer')

import numpy as np
og_df['id'] = np.nan
nba_data_merged = pd.merge(og_df, nba_data_merged_5, how = 'inner')



display(og_df)
# nba_scraped_data_merged = s2_df.merge(s3_df, how='outer').merge(s4_df, how='outer').merge(s5_df, how='outer')
# nba_data_merged = pd.merge(og_df, nba_scraped_data_merged, how = 'outer')
# nba_data_merged = pd.merge(og_df, s_last_df, how = 'outer')

# nba_data_merged = og_df.merge(s_last_df, how = 'outer')

,Name,games_played,minutes_played,points_scored,goals_scored,goals_attempted,3_point_scored,3_point_attempted,free_throws_scored,free_throws_attempted,offensive_rebounds,defensive_rebounds,assists,steals,blocks,turnover,5Yrs,id
0,Brandon Ingram,36,27.4,7.4,2.6,7.6,0.5,2.1,1.6,2.3,0.7,3.4,1.9,0.4,0.4,1.3,0,NaN
1,Andrew Harrison,35,26.9,7.2,2.0,6.7,0.7,2.8,2.6,3.4,0.5,2.0,3.7,1.1,0.5,1.6,0,NaN
2,JaKarr Sampson,74,15.3,5.2,2.0,4.7,0.4,1.7,0.9,1.3,0.5,1.7,1.0,0.5,0.3,1.0,0,NaN
3,Malik Sealy,58,11.6,5.7,2.3,5.5,0.1,0.5,0.9,1.3,1.0,0.9,0.8,0.6,0.1,1.0,1,NaN
4,Matt Geiger,48,11.5,4.5,1.6,3.0,0.0,0.1,1.3,1.9,1.0,1.5,0.3,0.3,0.4,0.8,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1303,Chris Smith,80,15.8,4.3,1.6,3.6,0.0,0.2,1.2,1.5,0.4,0.8,2.5,0.6,0.2,0.8,0,NaN
1304,Brent Price,68,12.6,3.9,1.5,4.1,0.1,0.7,0.8,1.0,0.4,1.1,2.3,0.8,0.0,1.3,1,NaN
1305,Marlon Maxey,43,12.1,5.4,2.2,3.9,0.0,0.0,1.0,1.6,1.5,2.3,0.3,0.3,0.4,0.9,0,NaN
1306,Litterial Green,52,12.0,4.5,1.7,3.8,0.0,0.2,1.2,1.8,0.2,0.4,2.2,0.4,0.1,0.8,1,NaN
1307,Jon Barry,47,11.7,4.4,1.6,4.4,0.4,1.3,0.7,1.0,0.2,0.7,1.4,0.7,0.1,0.9,1,NaN

In [66]:
display(nba_data_merged['5Yrs'].value_counts())

1.0    827
0.0    496
Name: 5Yrs, dtype: int64

In [67]:
nba_data_merged.to_csv('nba_data_final_4.csv')