In [173]:
import requests as rq
import pandas as pd
# !pip install nba_api
import nba_api
from nba_api.stats.endpoints import playercareerstats
import time

In [174]:
pd.set_option('display.max_columns', None)

In [255]:
season_list = ["1986-87", "1985-86", "1984-85", "1983-84", "1982-83", "1981-80", "1980-79", "1979-78", "1978-79", "1977-78", "1976-77", "1975-76", "1974-75", "1973-74", "1972-73"]
# next
#

In [256]:
headers  = {
    'Connection': 'keep-alive',
    'Accept': 'application/json, text/plain, */*',
    'x-nba-stats-token': 'true',
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36',
    'x-nba-stats-origin': 'stats',
    'Sec-Fetch-Site': 'same-origin',
    'Sec-Fetch-Mode': 'cors',
    'Referer': 'https://stats.nba.com/',
    'Accept-Encoding': 'gzip, deflate, br',
    'Accept-Language': 'en-US,en;q=0.9',
}

In [257]:
nba_dfs = []
for season in season_list:
  season_id = season[0:4]
  url = "https://stats.nba.com/stats/leagueLeaders?LeagueID=00&PerMode=PerGame&Scope=Rookies&Season="+season+"&SeasonType=Regular%20Season&StatCategory=PTS"
  res = rq.get(url = url, headers = headers).json()
  columns = res['resultSet']['headers']
  data = res['resultSet']['rowSet']
  nba_df = pd.DataFrame(data, columns = columns)
  nba_df['season'] = season_id
  print(season, ": ", nba_df.shape)
  nba_dfs.append(nba_df)

1986-87 :  (40, 26)
1985-86 :  (39, 26)
1984-85 :  (46, 26)
1983-84 :  (38, 26)
1982-83 :  (46, 26)
1981-80 :  (0, 26)
1980-79 :  (0, 26)
1979-78 :  (0, 26)
1978-79 :  (29, 26)
1977-78 :  (41, 26)
1976-77 :  (79, 26)
1975-76 :  (30, 26)
1974-75 :  (41, 26)
1973-74 :  (24, 26)
1972-73 :  (28, 26)

In [258]:
nba_concat_df = pd.concat(nba_dfs)
display(nba_concat_df.head())
print(nba_concat_df.shape)

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PTS,EFF,season
0,166,1,Ron Harper,1610612739,CLE,82,37.4,9.0,19.7,0.455,0.2,1.1,0.213,4.7,6.9,0.684,2.1,2.7,4.8,4.8,2.5,1.0,4.2,22.9,18.9,1986
1,456,2,Chuck Person,1610612754,IND,82,36.0,7.7,16.6,0.468,0.6,1.7,0.355,2.7,3.6,0.747,2.0,6.2,8.3,3.6,1.1,0.2,2.6,18.8,19.6,1986
2,76158,3,Walter Berry,1610612759,SAN,63,25.2,6.5,12.2,0.531,0.0,0.0,0.0,3.0,4.6,0.649,2.2,2.7,4.9,1.7,0.6,0.6,2.4,15.9,14.0,1986
3,921,4,Brad Daugherty,1610612739,CLE,80,33.7,6.1,11.3,0.538,0.0,0.0,0.0,3.5,5.0,0.696,1.9,6.2,8.1,3.8,0.6,0.8,3.1,15.7,19.1,1986
4,73,5,Hot Rod Williams,1610612739,CLE,80,33.9,5.4,11.2,0.485,0.0,0.0,0.0,3.7,5.0,0.745,2.8,5.1,7.9,1.9,0.7,2.1,1.7,14.6,18.4,1986

(481, 26)

In [259]:
nba_df_final = nba_concat_df[['PLAYER_ID','PLAYER', 'GP', 'MIN', 'PTS', 'FGM', 'FGA', 'FG3M', 'FG3A', 'FTM', 'FTA','OREB', 'DREB', 'AST', 'STL', 'BLK','TOV', 'season']]

In [260]:
nba_df_final.head()

,PLAYER_ID,PLAYER,GP,MIN,PTS,FGM,FGA,FG3M,FG3A,FTM,FTA,OREB,DREB,AST,STL,BLK,TOV,season
0,166,Ron Harper,82,37.4,22.9,9.0,19.7,0.2,1.1,4.7,6.9,2.1,2.7,4.8,2.5,1.0,4.2,1986
1,456,Chuck Person,82,36.0,18.8,7.7,16.6,0.6,1.7,2.7,3.6,2.0,6.2,3.6,1.1,0.2,2.6,1986
2,76158,Walter Berry,63,25.2,15.9,6.5,12.2,0.0,0.0,3.0,4.6,2.2,2.7,1.7,0.6,0.6,2.4,1986
3,921,Brad Daugherty,80,33.7,15.7,6.1,11.3,0.0,0.0,3.5,5.0,1.9,6.2,3.8,0.6,0.8,3.1,1986
4,73,Hot Rod Williams,80,33.9,14.6,5.4,11.2,0.0,0.0,3.7,5.0,2.8,5.1,1.9,0.7,2.1,1.7,1986

In [261]:
new_cols = ['id','name','games_played','minutes_played','points_scored','goals_scored','goals_attempted','3_point_scored','3_point_attempted','free_throws_scored','free_throws_attempted','offensive_rebounds','defensive_rebounds','assists','steals','blocks','turnover', 'season']
nba_df_final.columns = new_cols
nba_df_final['5Yrs'] = -1
nba_df_final.head()

<ipython-input-261-71ecb59033f7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nba_df_final['5Yrs'] = -1

,id,name,games_played,minutes_played,points_scored,goals_scored,goals_attempted,3_point_scored,3_point_attempted,free_throws_scored,free_throws_attempted,offensive_rebounds,defensive_rebounds,assists,steals,blocks,turnover,season,5Yrs
0,166,Ron Harper,82,37.4,22.9,9.0,19.7,0.2,1.1,4.7,6.9,2.1,2.7,4.8,2.5,1.0,4.2,1986,-1
1,456,Chuck Person,82,36.0,18.8,7.7,16.6,0.6,1.7,2.7,3.6,2.0,6.2,3.6,1.1,0.2,2.6,1986,-1
2,76158,Walter Berry,63,25.2,15.9,6.5,12.2,0.0,0.0,3.0,4.6,2.2,2.7,1.7,0.6,0.6,2.4,1986,-1
3,921,Brad Daugherty,80,33.7,15.7,6.1,11.3,0.0,0.0,3.5,5.0,1.9,6.2,3.8,0.6,0.8,3.1,1986,-1
4,73,Hot Rod Williams,80,33.9,14.6,5.4,11.2,0.0,0.0,3.7,5.0,2.8,5.1,1.9,0.7,2.1,1.7,1986,-1

In [262]:
nba_df_final.shape

(481, 19)

In [263]:
def extract_sea(sea_str):
  return int(sea_str[0:4])

def update_target(i):
  career = playercareerstats.PlayerCareerStats(player_id=i) 
  frames = career.get_data_frames()[0]
  frames['sea'] = frames['SEASON_ID'].apply(extract_sea)
  sea_max = max(frames['sea'])
  print(i)
  player_draft_season = int(nba_df_final[nba_df_final['id'] == i]['season'])
  if sea_max >= player_draft_season+5:
    nba_df_final.loc[nba_df_final['id'] == i, '5Yrs'] = 1
  else:
    nba_df_final.loc[nba_df_final['id'] == i, '5Yrs'] = 0

In [268]:
for i in nba_df_final[nba_df_final['5Yrs'] == -1]['id'][0:281]:
  update_target(i)

77854
77994
78325
78048
894
77558
76670
77171
76968
78310
1381
76736
78331
76249
78390
77615
78139
78548
76225
77215
76385
77547
76819
76948
77952
77148
77308
77021
78365
76441
76523
76879
77897
77136
78036
76361
78583
76453
1453
77264
77160
76170
229
77721
76471
78149
77144
77975
78571
76822
76154
78014
77487
77936
76229
76899
77289
76350
78095
77983
77334
76091
77320
76830
76242
76465
77465
76874
77873
78441
76664
76059
78135
76739
76888
76966
77328
76618
78204
77290
78326
76804
77097
76204
77246
76681
76504
77420
600014
78296
77817
77193
77490
78025
76351
77449
78468
77689
77201
78167
77998
78133
77419
78157
77028
77756
77324
78387
76771
78400
77364
76873
76104
78294
77141
305
76120
76296
78305
76567
76727
78602
77510
76099
76526
76317
76076
78623
76590
77330
78531
78481
76499
76878
76005
77024
77175
76628
77800
77396
76303
77194
76558
76889
76673
76699
78442
76134
76151
77504
78433
78111
78449
77786
77078
76112
78302
78361
77532
76011
78103
78549
77043
76754
77582
76734
77341
78215
76252
76753
77997
77528
76290
77586
77235
76895
76940
77197
77759
76917
77869
78577
77553
77492
76887
76213
76539
77331
76598
76392
78532
78450
78600
77115
78217
76860
76996
78482
78327
76305
76263
78199
77186
78047
78065
76971
77993
78585
76559
77944
78184
77627
78168
78546
77111
77424
78436
76055
77168
76509
77388
78237
76036
77525
76365
76083
76146
76623
77302
76568
76140
76095
76276
77182
78473
78475
77914
77575
76761
76248
77561
76413
77701
76505
76257
78603
76564
76383
78467
76756
77305
77094
77240
77498
77696
76256
77351
76222
77162
76521
77964
77876
76226
76733
77883
78239
76330
77133
76522
77475
76162
77915
78500
78622
76789
76806
77365
77567
78306
77149
77688

In [269]:
print("Total not updated Shape: ", nba_df_final[nba_df_final['5Yrs'] == -1].shape)

print("0 shape: ",nba_df_final[nba_df_final['5Yrs'] == 0].shape)

print("1 shape: ",nba_df_final[nba_df_final['5Yrs'] == 1].shape)

Total not updated Shape:  (0, 19)
0 shape:  (192, 19)
1 shape:  (289, 19)

In [270]:
nba_df_final.to_csv("extra_scraped_data-1982-1973.csv")

In [284]:
og_df = pd.read_csv('nba_data.csv')
s1_df = pd.read_csv('extra_scraped_data.csv')
s2_df = pd.read_csv('extra_scraped_data-2012-2004.csv')
s3_df = pd.read_csv('extra_scraped_data-2002-1994.csv')
s4_df = pd.read_csv('extra_scraped_data-1992-1988.csv')
s5_df = pd.read_csv('extra_scraped_data-1982-1973.csv')
nba_data_merged = og_df.merge(s1_df, how='outer').merge(s2_df, how='outer').merge(s3_df, how='outer').merge(s4_df, how='outer').merge(s5_df, how='outer')

In [285]:
display(nba_data_merged.head(10))

,Name,games_played,minutes_played,points_scored,goals_scored,goals_attempted,3_point_scored,3_point_attempted,free_throws_scored,free_throws_attempted,offensive_rebounds,defensive_rebounds,assists,steals,blocks,turnover,5Yrs,Unnamed: 0,id,name,season
0,Brandon Ingram,36,27.4,7.4,2.6,7.6,0.5,2.1,1.6,2.3,0.7,3.4,1.9,0.4,0.4,1.3,0,NaN,NaN,NaN,NaN
1,Andrew Harrison,35,26.9,7.2,2.0,6.7,0.7,2.8,2.6,3.4,0.5,2.0,3.7,1.1,0.5,1.6,0,NaN,NaN,NaN,NaN
2,JaKarr Sampson,74,15.3,5.2,2.0,4.7,0.4,1.7,0.9,1.3,0.5,1.7,1.0,0.5,0.3,1.0,0,NaN,NaN,NaN,NaN
3,Malik Sealy,58,11.6,5.7,2.3,5.5,0.1,0.5,0.9,1.3,1.0,0.9,0.8,0.6,0.1,1.0,1,NaN,NaN,NaN,NaN
4,Matt Geiger,48,11.5,4.5,1.6,3.0,0.0,0.1,1.3,1.9,1.0,1.5,0.3,0.3,0.4,0.8,1,NaN,NaN,NaN,NaN
5,Tony Bennett,75,11.4,3.7,1.5,3.5,0.3,1.1,0.4,0.5,0.2,0.7,1.8,0.4,0.0,0.7,0,NaN,NaN,NaN,NaN
6,Don MacLean,62,10.9,6.6,2.5,5.8,0.0,0.1,1.5,1.8,0.5,1.4,0.6,0.2,0.1,0.7,1,NaN,NaN,NaN,NaN
7,Tracy Murray,48,10.3,5.7,2.3,5.4,0.4,1.5,0.7,0.8,0.8,0.9,0.2,0.2,0.1,0.7,1,NaN,NaN,NaN,NaN
8,Duane Cooper,65,9.9,2.4,1.0,2.4,0.1,0.5,0.4,0.5,0.2,0.6,2.3,0.3,0.0,1.1,0,NaN,NaN,NaN,NaN
9,Dave Johnson,42,8.5,3.7,1.4,3.5,0.1,0.3,1.0,1.4,0.4,0.7,0.3,0.2,0.0,0.7,0,NaN,NaN,NaN,NaN

In [286]:
print(nba_data_merged.shape)

(3094, 21)

In [287]:
display(nba_data_merged['5Yrs'].value_counts())

 1    1980
 0    1112
-1       2
Name: 5Yrs, dtype: int64

In [288]:
nba_data_merged[nba_data_merged['Name'].isna()]

,Name,games_played,minutes_played,points_scored,goals_scored,goals_attempted,3_point_scored,3_point_attempted,free_throws_scored,free_throws_attempted,offensive_rebounds,defensive_rebounds,assists,steals,blocks,turnover,5Yrs,Unnamed: 0,id,name,season
1308,NaN,79,33.4,20.5,7.5,17.2,2.4,7.0,3.0,3.8,0.7,3.1,3.7,1.5,0.3,2.7,1,0.0,1628378.0,Donovan Mitchell,2017.0
1309,NaN,77,31.2,16.1,6.1,13.5,2.1,5.6,1.9,2.7,1.1,5.1,1.8,0.6,0.4,1.8,1,1.0,1628398.0,Kyle Kuzma,2017.0
1310,NaN,81,33.7,15.8,6.7,12.3,0.0,0.1,2.4,4.2,1.8,6.3,8.2,1.7,0.9,3.4,1,2.0,1627732.0,Ben Simmons,2017.0
1311,NaN,68,29.7,15.2,5.5,12.7,2.1,5.9,2.1,2.4,1.2,6.3,1.2,0.6,0.6,1.2,1,3.0,1628374.0,Lauri Markkanen,2017.0
1312,NaN,69,29.7,15.2,5.9,14.8,1.5,4.9,1.9,2.8,0.7,3.0,5.2,1.0,0.3,2.8,1,4.0,1628372.0,Dennis Smith Jr.,2017.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3089,NaN,46,6.0,2.8,1.1,2.8,NaN,NaN,0.7,0.9,NaN,NaN,0.8,NaN,NaN,NaN,0,23.0,77365.0,Russell Lee,1972.0
3090,NaN,44,5.6,2.0,0.8,2.2,NaN,NaN,0.4,0.8,NaN,NaN,0.1,NaN,NaN,NaN,0,24.0,77567.0,Eric McWilliams,1972.0
3091,NaN,67,10.3,1.9,0.8,2.4,NaN,NaN,0.3,0.4,NaN,NaN,0.6,NaN,NaN,NaN,0,25.0,78306.0,Chuck Terry,1972.0
3092,NaN,56,6.2,1.6,0.7,1.8,NaN,NaN,0.1,0.3,NaN,NaN,0.1,NaN,NaN,NaN,1,26.0,77149.0,George Johnson,1972.0
3093,NaN,36,4.7,1.2,0.4,2.0,NaN,NaN,0.3,0.5,NaN,NaN,0.4,NaN,NaN,NaN,1,27.0,77688.0,Bob Nash,1972.0

In [276]:
nba_data_merged = nba_data_merged[['Name','games_played','minutes_played','points_scored','goals_scored','goals_attempted','3_point_scored','3_point_attempted','free_throws_scored','free_throws_attempted','offensive_rebounds','defensive_rebounds','assists','steals','blocks','turnover','5Yrs']]

In [283]:
nba_data_merged[nba_data_merged['Name'].isna()]

,Name,games_played,minutes_played,points_scored,goals_scored,goals_attempted,3_point_scored,3_point_attempted,free_throws_scored,free_throws_attempted,offensive_rebounds,defensive_rebounds,assists,steals,blocks,turnover,5Yrs
1308,NaN,79,33.4,20.5,7.5,17.2,2.4,7.0,3.0,3.8,0.7,3.1,3.7,1.5,0.3,2.7,1
1309,NaN,77,31.2,16.1,6.1,13.5,2.1,5.6,1.9,2.7,1.1,5.1,1.8,0.6,0.4,1.8,1
1310,NaN,81,33.7,15.8,6.7,12.3,0.0,0.1,2.4,4.2,1.8,6.3,8.2,1.7,0.9,3.4,1
1311,NaN,68,29.7,15.2,5.5,12.7,2.1,5.9,2.1,2.4,1.2,6.3,1.2,0.6,0.6,1.2,1
1312,NaN,69,29.7,15.2,5.9,14.8,1.5,4.9,1.9,2.8,0.7,3.0,5.2,1.0,0.3,2.8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3089,NaN,46,6.0,2.8,1.1,2.8,NaN,NaN,0.7,0.9,NaN,NaN,0.8,NaN,NaN,NaN,0
3090,NaN,44,5.6,2.0,0.8,2.2,NaN,NaN,0.4,0.8,NaN,NaN,0.1,NaN,NaN,NaN,0
3091,NaN,67,10.3,1.9,0.8,2.4,NaN,NaN,0.3,0.4,NaN,NaN,0.6,NaN,NaN,NaN,0
3092,NaN,56,6.2,1.6,0.7,1.8,NaN,NaN,0.1,0.3,NaN,NaN,0.1,NaN,NaN,NaN,1
3093,NaN,36,4.7,1.2,0.4,2.0,NaN,NaN,0.3,0.5,NaN,NaN,0.4,NaN,NaN,NaN,1

In [289]:
nba_data_merged.to_csv('nba_data_final.csv')